numpy==1.24.3
torch==2.1.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

Flask
Flask-Cors
Flask-Caching

celery
redis

pydub
faster-whisper

requests
openai
python-dotenv
pytest>=7.0

huggingface_hub[hf_xet]
